#contenido ul{
    list-style:none;
    margin: 1em -2.5em;
}
#izq{
    float:left;
    width:20em;
}
#der{
    position:relative;
    top:2.7em;
    float:right;
    clear:right;
    width:30em;
}
#der img{
    width:30em;
}