#cabecera{
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-style: oblique;
	font-size: x-large;
	text-align: center;
}
#indice{
	font-family: Calibri, Verdana, Geneve, Arial, Helvetica, sans-serif;
	font-size: large;
	text-transform:none;
	color: white;
}
#contenido{
	font-family: Calibri, Verdana, Geneve, Arial, Helvetica, sans-serif;
	text-align: justify;
}
#piedepagina{
	font-weight:bold;
	text-align: center;
}
#contenido, #indice{
	overflow: auto;
}
.white{
     color:white;
}
