ul#navegacion {
    list-style:none;
    margin-top:-0.6em;
    margin-left:12px;
    padding:0;
}

ul#navegacion li {
    display:inline;
}
ul#navegacion li a {
    text-decoration:none;
    padding: 5px 0px;
    width: 100px;
    float:left;
    color: White;
    text-align:center;
}
ul#navegacion li a.select{
    width: 100px;
    background-image: none;
    background-color: #32373C;
    color: #52C7FD;
}
li a:hover {
    width: 100px;
    background-image: none;
    background-color: #32373C;
    color: White;
}
li>a{
    font-family: Arial, sans-serif;
    font-size: 16px;
}
